* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 14px/1.5 Arial, Helvetica, sans-serif;
    color: #ffff;
}

body {
    background-color: #121B27;
}

header {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
    height: 40px;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    outline: none;
    max-width: 100%;
    padding: 5px 0;
    z-index: 99;
    background-color: #121B27;
}

nav a {
    letter-spacing: 0px;
    padding: 0.5rem 1rem;
    padding-right: calc(1rem - 3px);
    transition: 0.3s;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

h1 {
    color: white;
    font-size: 17px;
    text-decoration: none;
    cursor: default;
    opacity: 0;
    animation: slideRight 2s ease forwards;
}

#heart {
    position: relative;
    width: 7px;
    height: 7px;
    margin-left: -3px;
}

#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 5px;
    top: 5px;
    width: 7px;
    height: 10px;
    background: linear-gradient(139.25deg, rgba(23, 92, 225, 0.71) 3.07%, rgba(167, 95, 210, 0.94) 66.81%);
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

#heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

#prio {
    width: 111px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    opacity: 1;
    animation: slideLeft 2s ease backwards;
}

#Priority {
    font-size: 11px;
    width: 110px;
    height: 30px;
    border-radius: 15px;
    background-color: #121B27;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 1px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #121B27 inset;
    outline: none;
    color: white;
}

.bubbles {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 0;
}

#bubble1 {
    margin-top: 20px;
    position: absolute;
    width: 32px;
    height: 32px;
    left: 65%;
    top: 9%;
    background: linear-gradient(92.7deg, #5404FF 4.9%, #BA2AD1 99.1%);
    box-shadow: inset 1.02px 2.04px 21px #001D6E;
}

#loyal {
    margin-top: 60px;
    overflow: hidden;
    outline: none;
    /* border: 1px solid green; */
    position: relative;
}

#bubble2 {
    position: absolute;
    width: 52px;
    height: 52px;
    left: 5%;
    top: 9%;
    background: linear-gradient(92.7deg, #5404FF 7.9%, #BA2AD1 99.1%);
    box-shadow: inset 2px 4px 20px #001D6E;
}

#content {
    position: relative;
    justify-self: center;
    align-self: center;
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 40px;
    color: white;
    font-size: 13px;
    opacity: 0;
    animation: slideDown 2s ease forwards;
    /* border: 1px solid palevioletred; */
}

form {
    width: 90%;
    /* border: 1px solid blue; */
    margin: auto;
    padding: 5px;
}

#nameTell,
#mailTell {
    display: flex;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid gray;
    height: 40px;
    border-radius: 15px;
}

.fa-thin {
    padding: 10px;
    background: #121B27;
    min-width: 50px;
    text-align: center;
    fill: none;
}

.inputs {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    background: #121B27;
    color: white;
}

.inputs:focus {
    border: 2px solid #121B27;
}

.inputs::placeholder {
    font-size: 13px;
}

#getAcc {
    font-size: 11px;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    background-image: linear-gradient(42.7deg, #5404FF 7.9%, #BA2AD1 88.1%);
    outline: none;
    border: none;
    color: white;
}

h2 {
    font-size: 15px;
    font-weight: bold;
}

h2 span {
    color: linear-gradient(92.7deg, #5404FF 7.9%, #BA2AD1 99.1%);
    color: #BA2AD1;
}

p {
    text-align: center;
    margin-bottom: 20px;
}

#bubble3 {
    position: absolute;
    width: 172px;
    height: 172px;
    left: 81%;
    top: 30%;
    background: linear-gradient(92.7deg, #5404FF 7.9%, #BA2AD1 99.1%);
    box-shadow: inset 2px 4px 20px #001D6E;
    z-index: -1;
}

#following {
    width: 55%;
    padding: 5px;
    /* border: 1px solid gold; */
    position: relative;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#names {
    display: flex;
    width: 40%;
    height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* border: 1px solid saddlebrown; */
    padding: 5px;
}

#members {
    display: flex;
    width: 45%;
    height: 20px;
    /* border: 1px solid darkorchid; */
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#members p {
    margin-bottom: 0px;
    font-size: 13px;
}

.circles {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
}

#circle1 {
    background: linear-gradient(92.7deg, #5404FF 7.9%, #BA2AD1 99.1%);
    box-shadow: inset 2px 4px 20px #001D6E;
    text-align: center;
}

#circle2 {
    background: linear-gradient(92.7deg, #5404FF 7.9%, #BA2AD1 99.1%);
    background: #121B27;
    box-shadow: inset 2px 4px 20px #001D6E;
    margin-left: -8px;
}

#circle3 {
    background: linear-gradient(92.7deg, #5404FF 7.9%, #BA2AD1 99.1%);
    background: #BA2AD1;
    box-shadow: inset 2px 4px 20px #001D6E;
    margin-left: -8px;
}

#circle4 {
    background: linear-gradient(92.7deg, #5404FF 7.9%, #BA2AD1 99.1%);
    background: #5404FF;
    box-shadow: inset 2px 4px 20px #001D6E;
    margin-left: -8px;
}

#bubble4 {
    position: absolute;
    width: 42px;
    height: 42px;
    left: 5%;
    top: 82%;
    background: linear-gradient(92.7deg, #5404FF 7.9%, #BA2AD1 99.1%);
    box-shadow: inset 2px 4px 20px #001D6E;
    z-index: -1;
}

#prioform {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    border: none;
    /* border: 1px solid seagreen; */
    text-align: center;
    justify-content: center;
    align-items: center;
}

#main {
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding: 10px;
    border: none;
    margin-top: 10px;
    /* border: 1px solid silver; */
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: slideRight 2s ease forwards;
}

#main h2 {
    word-spacing: 2px;
    margin-bottom: 5px;
}

#sidebar {
    width: 90%;
    margin: auto;
    overflow: hidden;
    /* border: 1px solid slateblue; */
    border-radius: 18px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: slideLeft 2s ease forwards;
}

.consultationForm {
    width: 100%;
    /* border: 1px solid silver; */
    padding: 10px;
    border-radius: 18px;
    font-size: 14px;
    overflow: hidden;
    outline: none;
    background-color: #1b263b;
}

h4 {
    text-align: left;
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 15px;
}

.consult,
select {
    width: 90%;
    padding: 10px;
    outline: none;
    border: 1px solid gray;
    border-radius: 10px;
    background: #1b263b;
    color: white;
    margin-bottom: 5px;
}

.consult:focus,
select:focus {
    border: 2px solid gray;
}

.consult::placeholder {
    font-size: 13px;
}

select:hover {
    background-color: 1px solid gray;
}

#comments {
    width: 90%;
    padding: 10px;
    outline: none;
    border: 1px solid gray;
    border-radius: 15px;
    background: #1b263b;
    color: white;
    margin-bottom: 10px;
}

#request {
    font-size: 13px;
    width: 90%;
    height: 30px;
    border-radius: 15px;
    background-image: linear-gradient(42.7deg, #5404FF 7.9%, #BA2AD1 88.1%);
    outline: none;
    border: none;
    color: white;
}

hr {
    width: 90%;
    margin: auto;
    margin-top: 40px;
}

footer {
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    padding: 5px;
    margin-top: 20px;
}

#address {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    padding: 5px;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

#right {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

footer p {
    margin-bottom: 0px;
}

#middle {
    width: 100%;
    justify-content: space-around;
    padding: 5px;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media(min-width:760px) {
    nav {
        justify-content: space-between;
        padding: 5px 40px;
    }
    #bubble1 {
        width: 42px;
        height: 42px;
        left: 87%;
        top: 4%;
    }
    #bubble2 {
        position: absolute;
        width: 82px;
        height: 82px;
        left: 3%;
        top: 7%;
        background: linear-gradient(92.7deg, #5404FF 7.9%, #BA2AD1 99.1%);
        box-shadow: inset 2px 4px 20px #001D6E;
    }
    #content {
        width: 40%;
    }
    form {
        width: 60%;
    }
    #nameTell,
    #mailTell {
        width: 95%;
    }
    #getAcc {
        font-size: 13px;
        width: 95%;
    }
    h2 {
        font-size: 18px;
        font-weight: bold;
    }
    #content h2 {
        width: 265px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-self: center;
        margin: auto;
    }
    h2 span {
        font-size: 18px;
        font-weight: bold;
    }
    p {
        text-align: center;
        margin-bottom: 20px;
    }
    #bubble3 {
        width: 292px;
        height: 292px;
        left: 90%;
        top: 20%;
    }
    #following {
        width: 20%;
        justify-content: space-around;
    }
    #names {
        width: 40%;
    }
    #members {
        width: 45%;
    }
    #members p {
        margin-bottom: 0px;
        font-size: 13px;
    }
    #bubble4 {
        top: 72%;
    }
    #prioform {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 30px;
    }
    #main {
        width: 40%;
        padding: 50px;
        margin-top: 80px;
        text-align: center;
    }
    #sidebar {
        width: 50%;
    }
    .consultationForm {
        width: 50%;
    }
    .consult,
    select {
        width: 90%;
        padding: 10px;
        outline: none;
        border: 1px solid gray;
        border-radius: 10px;
        background: #1b263b;
        color: white;
        margin-bottom: 10px;
    }
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }
    #address,
    #right,
    #middle {
        width: 30%;
        margin-bottom: 5px;
    }
    footer p {
        margin-bottom: 0px;
    }
}