* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 14px/1.5 Arial, Helvetica, sans-serif;
}

body {
    background-color: #121B27;
}

header {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid red;
    height: 40px;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    outline: none;
    margin-top: 5px;
    max-width: 100%;
    padding: 5px 0;
    z-index: 99;
    background-color: #121B27;
}

nav a {
    letter-spacing: 0px;
    padding: 0.5rem 1rem;
    padding-right: calc(1rem - 3px);
    transition: 0.3s;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

h1 {
    color: white;
}

#heart {
    position: relative;
    width: 5px;
    height: 5px;
    margin-left: -3px;
    /* background: linear-gradient(139.25deg, rgba(23, 92, 225, 0.71) 3.07%, rgba(167, 95, 210, 0.94) 66.81%); */
}

#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 5px;
    top: 5px;
    width: 5px;
    height: 8px;
    background: linear-gradient(139.25deg, rgba(23, 92, 225, 0.71) 3.07%, rgba(167, 95, 210, 0.94) 66.81%);
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

#heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

#prio {
    width: 111px;
    overflow: hidden;
    border: 1px solid purple;
    align-items: center;
    justify-content: center;
}

#Priority {
    font-size: 11px;
    width: 110px;
    height: 30px;
    border-radius: 15px;
    background-color: #1d3557;
    border-color: linear-gradient(42.7deg, #5404FF 7.9%, #BA2AD1 88.1%);
    outline: none;
    color: white;
}

.bubbles {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#bubble1 {
    margin-top: 20px;
    position: absolute;
    width: 32px;
    height: 32px;
    left: 65%;
    top: 7%;
    background: linear-gradient(92.7deg, #5404FF 4.9%, #BA2AD1 99.1%);
    box-shadow: inset 1.02px 2.04px 21px #001D6E;
}

#loyal {
    margin-top: 60px;
    overflow: hidden;
    outline: none;
    border: 1px solid green;
    position: absolute;
    justify-content: space-evenly;
    align-items: center;
}

#bubble2 {
    position: absolute;
    width: 52px;
    height: 52px;
    left: 5%;
    top: 9%;
    background: linear-gradient(92.7deg, #5404FF 7.9%, #BA2AD1 99.1%);
    box-shadow: inset 2px 4px 20px #001D6E;
}

#content {
    position: relative;
    margin-top: 90px;
    /* justify-self: center;
    align-self: center; */
    width: 60%;
    margin: auto;
    color: white;
    font-size: 13px;
    border: 1px solid palevioletred;
}